.blog-main-title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 50px;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #eeeeee,
    #dddddd,
    #cccccc,
    #bbbbbb
  );
}

@media (max-width: 1000px) {
}
@media (min-width: 1000px) {
  #container {
    margin-top: 1.5rem !important;
  }
}
