.blog-main-title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 50px;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ededed,
    #dbdbdb,
    #cacaca,
    #b9b9b9
  );
  background-position: none !important;
}
