body {
  font-family: "Outfit", sans-serif;
}
#main {
  background-color: #141414 !important;
}
@media (max-width: 1200px) {
  #main {
    margin-top: 0rem;
  }
}
@media (min-width: 1200px) {
  #main {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

#root,
:root {
  background-image: linear-gradient(
    to bottom,
    #eba9ee,
    #deb1f6,
    #d1b8fb,
    #c5befe,
    #bbc4ff,
    #bac3ff,
    #b8c2ff,
    #b7c1ff,
    #c0b9ff,
    #cbaffb,
    #d9a5f5,
    #e799eb
  );
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
}
